@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


[data-testid="stAppViewContainer"] {
    background-image: none; 
    background-color: #0E1117; 
}


h1 {
    font-family: 'Poppins', sans-serif !important; /* Font Kustom Poppins SemiBold */
    font-weight: 600 !important;
    color: white !important; /* Warna teks putih agar terlihat di background gelap */
    text-align: center;
    font-size: 3em; 
    margin-top: 0.5em; /* Memberi jarak atas */
}


[data-testid="stVerticalBlock"] > div:first-child { 
    background-color: #1F232F !important; /* Menggunakan secondaryBackgroundColor */
    padding: 20px;
    border-radius: 10px;
}


[data-testid="stVerticalBlock"] > div:nth-child(3) { 
    background-color: #1F232F !important; 
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}


div.stSuccess {
    background-color: rgba(0, 191, 255, 0.2) !important; /* Biru cerah transparan untuk sukses */
    color: white !important; 
}
div.stSuccess > div > p {
    color: white !important;
}


.stDataFrame thead th {
    background-color: #1F232F !important; 
}
.stDataFrame tbody td {
    color: #FAFAFA !important; 
}


.stDataFrame tbody tr[data-highlighted="true"] {
    background-color: rgba(255, 255, 255, 0.1) !important; 
}